#home{
    background-color: black;
    overflow: visible;
    min-height: 100%;
    padding-bottom: 10vh;
}
#home-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    align-items: stretch;
    color: white;
    font-family: "Fira Code", monospace;
    overflow: hidden;
    border: 0px solid white;
}

#create{
    margin: 0;
    font-size: 10vw;
}

#home-ongoing-project{
    display: flex;
    flex-direction: column;
    margin-top: 6vh;
    align-items: center;
    color: white;
    font-family: "Fira Code", monospace;
    overflow: hidden;
    border-left: 3vw solid white;
    padding-left: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
}

#home-ongoing-project>*{
    margin-left: 0;
}

#home-ongoing-project a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    z-index: 10;
    flex: 1;
    text-align: center;
    font-size: 5vw;

}

#home-ongoing-project .project-model{
    width: 40vw;
    height: 30vw;
    margin: 0 auto;
    margin-top: 2vw;
    display: block;
    border: 0;
    overflow: visible;
}

#contacts{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 5vh;
    align-items: center;
    color: white;
    font-family: "Fira Code", monospace;
    overflow: visible;
    border: 0px solid white;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
}