@font-face { font-family: "Glacial"; src: url('fonts/GlacialIndifference/GlacialIndifference-Regular.otf'); } 
@font-face { font-family: "Glacial-Bold"; src: url('fonts/GlacialIndifference/GlacialIndifference-Bold.otf');}
@font-face { font-family: "Aileron"; src: url('fonts/Aileron/Aileron-Regular.otf'); } 
@font-face { font-family: "Aileron-Bold"; src: url('fonts/Aileron/Aileron-Bold.otf');}
@font-face { font-family: "Aileron-Light"; src: url('fonts/Aileron/Aileron-Light.otf');}

body{
    font-family: Aileron-Light;
}

#title-1{
    position: absolute;
    font-family: Aileron-Bold;
    font-size: 3vw;
    letter-spacing: 1.5vw;
    top: 1.5vw;
    left: 2.3vw;
}
#title-2{
    position: absolute;
    font-family: Aileron-Bold;
    font-size: 3vw;
    letter-spacing: 1.5vw;
    top: 4.5vw;
    left: 2.3vw;
}

#ac1{
    top: 4.05vw;
    left: 24.5vw;
}

#ac2{
    top: 7.05vw;
    left: 16.69vw;
}

#sub-title{
    position: absolute;
    font-size: 1vw;
    font-family: Glacial;
    letter-spacing: 3vw;
    top: 2.5vw;
    left: 2.6vw;
}

#menu-bar{
    position: absolute;
    height: 68vh;
    border-left: 1vw solid black;
    top: 13vw;
    left: 1vw;
}

#menu-bar h1{
    font-family: Glacial;
    font-weight: 100;
    font-size: 1.8vw;
    letter-spacing: 1.2vw;
    padding-left: 1vw;
    background-color: #F0F0F0;
    margin-top: 2.6vh;
    margin-bottom: 2.6vh;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

#menu-bar h1:hover{
    font-family: Aileron;
    font-size: 2vw;
    letter-spacing: 1.2vw;
    padding-left: 1vw;
    background-color: #F0F0F0;
    padding-top: 1.866vw;
    padding-bottom: 1.866vw;
    margin: 0;
}

#menu-bar .hover{
    font-family: Aileron;
    font-size: 2vw;
    letter-spacing: 1.2vw;
    padding-left: 1vw;
    background-color: #F0F0F0;
    padding-top: 1.866vw;
    padding-bottom: 1.866vw;
    margin: 0;
}
/*
#menu-bar h1{
    font-family: Aileron-Bold;
    font-size: 2vw;
    letter-spacing: 1vw;
    padding-left: 1vw;
    background-color: #F0F0F0;
    padding-top: 1.866vw;
    padding-bottom: 1.866vw;
    margin: 0;
}*/