#container {
    width: 60vw;
    height: 60vh;
    position: relative;
    overflow: hidden;
}

.circle {
    width: 1vw;
    height: 1vw;
    position: absolute;
    border-radius: 50%;
    background-color: #FFFFFF;
    border-color: black;
    border-style: solid;
    border-width: 0.20vw;
    z-index: 2;
}

#myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}